<a href="https://colab.research.google.com/github/lnandi1/Python_Tutorials_2022/blob/main/Master_Lab_3_Python_For_Loops_Examples_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Please note that this notebook has been created by CLNandi(Dr) and cannot be used or replicated without the written permission of the author*

### **Computer Lab 3 - Introduction - Python Programs - FOR loops - Examples and Questions**
**(1) We will study and write programs involving the FOR loop.
<br> Please note the following about the FOR loop:-**


1.   The FOR loop is a form of ITERATION
2.   ITERATION means REPETITION or LOOPING.
3.  The FOR loop demonstrates DEFINITE ITERATION.
4.   Just for the sake of completeness - there are what is known as 3 Fundamental Programming constructs:-
 (i) ITERATION
 (ii) SELECTION
 (iii) SEQUENCE
5.   The FOR loop is known as a COUNT-CONTROLLED loop.
6.   We will look at the FOR loop in its primary form.
7.   We will also look at the NESTED FOR loop.
<br><br>(2) Here is a YouTube related to FOR statements in Python
https://youtu.be/bgiPG6bp7bY
<br><br>(3) There are Examples and Questions in this Notebook.

(4) First of all Run the Program related to each Example. Then Study the Program and the Output.

(5)Then answer the associated question.

## **L3 - Example 1 - Outputting Consecutive Numbers 0-4 using a FOR loop with 1 argument**

In [ ]:
# Example 1 - The FOR loop is an example of ITERATION or REPETITION
# Python is a Zero-based Language
print("This Program Outputs Consecutive Numbers 0 to 4")
for j in range(5):
  print(j)

This Program Outputs Consecutive Numbers 0 to 4
0
1
2
3
4

## **L3 - Question 1 - Typing and Running the 1st FOR loop Program**

In [ ]:
#Insert Code Here

## **L3 - Example 2 - Another FOR loop with 1 argument**

In [ ]:
# Example 2
print("This Program outputs Consecutive Numbers 0 to 2")
for j in range(3):
  print(j)

This Program outputs Consecutive Numbers 0 to 2
0
1
2

##Â **L3 - Question 2 - Generating numbers 0-10 with a FOR loop**
Write a Program which outputs the numbers 0 to 10

In [ ]:
# Write your Program Here

## **L3 - Example 3A - A FOR loop with 1 arguments outputting consecutive numbers 1-5**
Now Study the Programs below and ensure you understand how they are working
<br><br> What do you notice about the difference in the structure of this FOR loop with that in the previous example?

In [ ]:
# Example 3A
print("This Program outputs Consecutive Numbers 1 to 5")
for j in range(1,6):
  print(j)

This Program outputs Consecutive Numbers 1 to 5
1
2
3
4
5

## **L3 - Example 3B - Another FOR loop with 2 arguments outputting numbers 1 to 3**

In [ ]:
# Example 3B
print("This Program outputs Consecutive Numbers 1 to 3")
for j in range(1,4):
  print(j)

This Program outputs Consecutive Numbers 1 to 3
1
2
3

## **L3 - Question 3 - Question to Output Numbers 2-6 using a FOR loop**
Write a Program which outputs the numbers 2-6 (that is 2,3,4,5,6)

In [ ]:
# Write your program here

## **L3 - Example 4 - A FOR loop with 3 arguments generating odd numbers**

(i) What do you notice about the difference in structure in this FOR loop as compared to the previous example?

In [ ]:
# Example 4
print("This Program outputs the 1st 5 odd numbers")
for j in range(1,10,2):
  print(j)

This Program outputs the 1st 5 odd numbers
1
3
5
7
9

## **L3 - Question 4 - Using a FOR loop to generate even numbers**
Write a program which outputs the 1st five even numbers

In [ ]:
#Insert Code Here

## **L3 - Example 5 - Using a FOR loop to generate a Multiplication Table**

This Program is about Multiplication Tables

In [ ]:
# Example 5
print("This Program relates to Multiplication Tables")
for j in range(1,6):
  Product = j * 10
  print(j, "* 10 = ",Product)

This Program relates to Multiplication Tables
1 * 10 =  10
2 * 10 =  20
3 * 10 =  30
4 * 10 =  40
5 * 10 =  50

## **L3 - Question 5 - Generating the 13 times table using a FOR loop**
Write a Program which outputs the 13 times table

In [ ]:
# Insert Code Here

## **L3 - Example 6 - Generating 1st 4 Square Numbers using a FOR loop**

In [ ]:
# Example 6
print("This Program relates to Square Numbers")
for j in range(1,5):
  Square = j**2
  print(j, "**2 = ",Square)

This Program relates to Square Numbers
1 **2 =  1
2 **2 =  4
3 **2 =  9
4 **2 =  16

##Â **L3 - Question 6 - Generating 1st 5 cubed numbers using a FOR loop**
Write a Program which outputs the first 5 cubed numbers (i.e 1,8,27,64,125)

In [ ]:
# Write your program here

## **L3 - Example 7 - Summing 1+2+3+4+5+6+7+8+9+10 using a FOR loop**
<br>This Program which outputs the sum of the numbers 1 to 10 i.e 1+2+3+4+5+6+7+8+9+10
<br><br>Please make sure you understand how it works. To understand how it works, you will most definitely need to trace it & you will probably need to ask your teacher for a detailed explanation about this.

In [ ]:
#Example 7 - Summing Numbers 1 to 10
print("This Program outputs the sum of 1+2+3+4+5+6+7+8+9+10")
sum = 0
for j in range(1,11):
  sum = sum + j

print(sum)

This Program outputs the sum of 1+2+3+4+5+6+7+8+9+10
55

## **L3 - Question 7 - Sum the numbers 1 to a Million (1000,000) using a FOR loop**

<br>Write a Program which sums the numbers 1 to a Million (1000,000)
<br><br>i.e 1+2+3+4+5+6+7+8+...+1000,000

In [ ]:
# Write your Program here

## **L3 - Example 8 - Calculating the Average of a group of numbers using a FOR loop**

<br>Below is a Programs which calculates and outputs the average of a group of numbers
<br><br>Please ensure you understand how the program is working
<br><br>To understand them, you will most probably need to ask your teacher.

In [ ]:
# Example 8 - Calculating Sum and Average of Numbers
print("This is a Program which calculates and outputs the average of 3 integers entered by the user")
sum = 0  # Here we are initializing the variable sum to zero.
for j in range(1,4):
  Number = int(input("Enter a number "))
  sum = sum + Number
Average = sum/3
print(round(Average,2))

This is a Program which calculates and outputs the average of 3 integers entered by the user
Enter a number 1
Enter a number 2
Enter a number 3
2.0

## **L3 - Question 8 - Question on calculating average of numbers using FOR loop**
Write a Program which asks the user for 4 numbers and calculates and outputs the average of these 4 numbers

In [ ]:
#Insert Code

## **L3 - Example 9 - Calculating both Average and Sum of a group of numbers using a FOR loop**

In [ ]:
# Example 9
print("This is a Program which calculates and outputs the average of 3 integers entered by the user and also the sum of the numbers")
Total_Score = 0 # We initialize this to zero
for j in range(3):
  Score = int(input("Enter the Score "))
  Total_Score = Total_Score + Score
Average_Score = Total_Score/3
print("Total_Score ",Total_Score)
print("Average_Score ",Average_Score)

This is a Program which calculates and outputs the average of 3 integers entered by the user and also the sum of the numbers
Enter the Score 4
Enter the Score 2
Enter the Score 3
Total_Score  9
Average_Score  3.0

## **L3 - Question 9 - Question on calculating the average and sum of a group of numbers using a FOR loop**
Write a Program which allows you to choose how many numbers you will input and output the sum and average of those numbers

In [ ]:
#Insert Code Here

## **L3 - Question 9 - A Solution**

In [ ]:
# Question 9
# Here is a solution to the Question 9!
Total_score = 0
x =int(input("enter how many numbers do you want to deal with? "))
for j in range(x):
  Score = int(input("enter a score "))
  Total_score = Total_score + Score
Average_score = Total_score/x
print("Total score", Total_score)
print("Averge score", Average_score)

enter how many numbers do you want to deal with? 2
enter a score 3
enter a score 4
Total score 7
Sverge score 3.5

## **L3 - Example 10 - There is no Example 10**

## **L3 - Question 10 - Recap and YouTube video on FOR loop**
Now go over the Examples, Questions and Answers for FOR loops
and watch the YouTube video on FOR loops
https://youtu.be/bgiPG6bp7bY

## **L3 - Example 11 - Using a FOR loop to output Even Numbers using the MOD(%) Operator**

In [ ]:
# Example 11 - Outputting Even Numbers
for j in range(1,10):
  if j%2==0:
    print(j, " is even")

2  is even
4  is even
6  is even
8  is even

##Â **L3 - Question 11 -  Using a FOR loop to say whether a number is odd or even**
Write a Program which will tells you if the numbers between 1 and 10 are odd or even

In [ ]:
# Insert Code Here

## **L3 - Question 11 - A solution for FOR loop for saying whether number is odd or even**

In [ ]:
# Here is a solution to the Question 11
for j in range (1,10):
  if j%2==1:
   print(j, "is odd")
  else:
    print(j, " is even")

##Â **L3 - Example 12 - An example of a NESTED FOR loop**
<br>This is an example of a program with a NESTED FOR loop within it.
<br>Work out how the program is working. For this you will most definitely need to ask your teacher about it.

In [ ]:
# Example 12 - Nested For loop
print("A Program with a NESTED FOR loop")
for j in range(1,5): #OUTER for loop
  print()
  for k in range(6,10): #INNER for loop
    print("j = ", j, " k = ", k)

A Program with a NESTED FOR loop

j =  1  k =  6
j =  1  k =  7
j =  1  k =  8
j =  1  k =  9

j =  2  k =  6
j =  2  k =  7
j =  2  k =  8
j =  2  k =  9

j =  3  k =  6
j =  3  k =  7
j =  3  k =  8
j =  3  k =  9

j =  4  k =  6
j =  4  k =  7
j =  4  k =  8
j =  4  k =  9

## **L3 - Question 12 - Question on writing Program with NESTED FOR loop**
Now write a similar program to this yourself

In [ ]:
#  Insert Program

## **L3 - Example 13 - Outputting the Factors of a Given Integer using a FOR loop**
(i) How do you think the program is working? After some thought you may (will probably) need to ask your teacher about it.
<br><br>Please note there is no associated Question 13

In [ ]:
# Example 13 - The Factors of a Number
print("This Program outputs the Factors of a given Integer")
X = int(input("Enter a number"))
for j in range(1,X):
  if X%j ==0:
    print(j)

This Program outputs the Factors of a given Integer
Enter a number10
1
2
5

## **L3 - Question 13 - There is no Question 13**

## **L3 - Example 14 - Marvel at the output of a FOR loop producing a Grid showing Multiplication Table!**
Please note that there is no associated Question 14

In [ ]:
# Example 14
# Display a Multiplication Table
MIN = 1
MAX = 10

# Display the top row of labels
print("    ", end = "")

for j in range(MIN, MAX+1):
  print( "%4d" %j, end="")
print()

# Display the table

for j in range(MIN, MAX+1):
  print("%4d" %j, end = "")
  for k in range(MIN, MAX+1):
      print("%4d" %(j*k),end="")
  print()

       1   2   3   4   5   6   7   8   9  10
   1   1   2   3   4   5   6   7   8   9  10
   2   2   4   6   8  10  12  14  16  18  20
   3   3   6   9  12  15  18  21  24  27  30
   4   4   8  12  16  20  24  28  32  36  40
   5   5  10  15  20  25  30  35  40  45  50
   6   6  12  18  24  30  36  42  48  54  60
   7   7  14  21  28  35  42  49  56  63  70
   8   8  16  24  32  40  48  56  64  72  80
   9   9  18  27  36  45  54  63  72  81  90
  10  10  20  30  40  50  60  70  80  90 100

## **L3 - Question 14 - There is no Question 14**

## **L3 - Example 15 - Combining NESTED FOR Loops with Lists**
<br>This program combines NESTED FOR loops with lists. We will learn about Lists later.

In [ ]:
# Example 15
# FOR loops with Lists
print("A Program combining NESTED FOR loops with lists")
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

A Program combining NESTED FOR loops with lists
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## **L3 - Question 15 - Now write a similar program with NESTED FOR loops to the one in Example 15**

In [ ]:
#Insert Code