<a href="https://colab.research.google.com/github/lnandi1/Python_Tutorials_2022/blob/main/Master_Lab_6_Lists_Examples_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Please note that the Notebook was created by CLNandi(Dr) and cannot be replicated or used without the permission of the author*

## **Master - Computer Lab 6 - Introduction - Python - Lists - Examples and Questions**
<br><br> Below are a set of worked examples and exercises related to Lists in Python, which look at:-


1.   Creating/Defining a List
2.   Printing/Displaying the Contents of a List
3.   Accessing the Elements of a List through Positive and Negative Indexing
4.   How to Get an Item from a List
5.   How to Set an Item from a List
6.   How to Perform Operations on a List such as:-
      *   Adding/Appending an Item
      *   Inserting an Item
      *   Popping an Item
      *   Deleting/Removing an Item
      *   Finding the Number of Items in a List or the Length of the List
7.    Using a FOR Loop to Read the Items of a List
8.    Using a WHILE Loop to Read the Items of a List
9.    Using the InBuilt Function Range to Create a List of Items.
10.   Using a FOR Loop to Create a List
11.   Using Inbuilt Statistics Functions on Loops such as:-
     * min
     * max
     * sum

<br><br>A tutorial of Lists can be found in this YouTube Video
https://youtu.be/n5-nYG3aUy8

## **L6 - Example 1 - Defining Lists**
This Example is defining several Lists

In [ ]:
# Example 1
temperature = [10,20,30,100, 50, 40]
Food = [ "Apples","Bananas","Peaches"]
film = ["The Dragon", 2021, 9.99]
Scores = []

## **L6 - Example 2 - Outputting the Contents of Lists**
Example 2 is showing out the contents of the lists defined above can be printed.

In [ ]:
# Example 2
print("temperature ",temperature)
print("food ", Food)
print("film ",film)
print("Scores ",Scores)

temperature  [10, 20, 30, 100, 50, 40]
food  ['Apples', 'Bananas', 'Peaches']
film  ['The Dragon', 2021, 9.99]
Scores  []

## **L6 - Example 3 - Accessing items in Lists with Positive Index Values**
This example shows how to accessing the elements/items of the List with Positive Index Value

In [ ]:
# Example 3
print(temperature[0])
print(temperature[3])
print(temperature[5])
print(Food[0])
print(Food[2])
print(film[2])

10
100
40
Apples
Peaches
9.99

## **L6 - Example 4 - Accessing Items of Lists with Negative Indexes**
Accessing the elements/items of the List with Negative Indexes

In [ ]:
# Example 4
print(temperature[-6])
print(temperature[-1])
print(Food[-2])

10
40
Bananas

## **L6 - Questions 1 to 3 - Creating a List and Outputting Certain Items**


1.   Create a List with the Numbers 11,22,33,44,55
2.   Output the 3rd element of the List
3.   Output the 1st element of the List

In [ ]:
#Insert Code

## **L6 - Example 5 - Getting an Item from a List**
How to Get an Item from a List

In [ ]:
# Example 5
print("temperature ", temperature)
temp = temperature[0]
print("temp which is temperature[0] ",temp,"\n")

food_stuff = Food[2]
print(food_stuff)

temperature  [10, 20, 30, 200, 50, 40]
temp which is temperature[0]  10

Peaches

## **L6 - Example 6 - Setting an Item in a List**
How to set an Item in a List

In [ ]:
# Example 6
print("Temperature before setting an item ", temperature)
temperature[3] = 200 # replaces 100 with 200
print("Temperature after setting an item ", temperature)

Temperature before setting an item  [10, 20, 30, 100, 50, 40]
Temperature after setting an item  [10, 20, 30, 200, 50, 40]

## **L6 - Example 7 - Operations of Adding (or Appending), Inserting, Popping, Deleting and Finding from a List**
Operations on a List

1.   Add or Append
2.   Insert
3.   Pop an Item
4.   Delete or Remove an Item
5.   Find the number of Items

In [ ]:
# Example 7
temperature = [10,20,30,40]
print("temperature ",temperature)
temperature.append(50)
print("temperature after an item has been added ", temperature)
print("\nInserting an item at index 0")
temperature.insert(0,15)
print("temperature after inserting item at index 0 ", temperature)
temperature.insert(3,35)
print("temperature after inserting item at index 3 ",temperature)
temperature.remove(35) #Remove Number 35
print("temperature after item with the number 35 has been removed ",temperature)
print("Popping an item")
temperature.pop()
print("temperature ",temperature)

temperature  [10, 20, 30, 40]
temperature after an item has been added  [10, 20, 30, 40, 50]

Inserting an item at index 0
temperature after inserting item at index 0  [15, 10, 20, 30, 40, 50]
temperature after inserting item at index 3  [15, 10, 20, 35, 30, 40, 50]
temperature after item with the number 35 has been removed  [15, 10, 20, 30, 40, 50]
Popping an item
temperature  [15, 10, 20, 30, 40]

## **L6 - Questions 4 to 7 - Creating a List, Replacing, Inserting and Appending Items**

4.   Create a List with the Numbers 11,22,33,44,55
5. Replace the number 33 with 77
6.   Insert the number 40 in the 4th Position
7. Append the number 88 to the end of the list
<br>
<br>7(i) Also additionally, find the number of items of the list. Note that len(A) will give you the number of items in List A


<br>Examples 1-7 should help you with this question

In [ ]:
#Insert Code

## **L6 - Example 8 - Reading Items in a List with a FOR loop**
Reading the Items in a List with a FOR loop

In [ ]:
# Example 8
scores = [70,80,90,100]
for score in scores:
  print(score)

70
80
90
100

## **L6 - Question 8 - Creating a List and Reading the Items of the List with a FOR loop**
Create a list with the numbers 2,4,6,8 and use a FOR loop to read and output the items of the list

In [ ]:
# Insert Code

## **L6 - Example 9 - Creating a List and Reading the Items of the List using a WHILE loop**
 Reading the Items in a List with a WHILE loop

In [ ]:
# Example 9
scores = [70,80,90,100]
j = 0
while j < len(scores):
  print(scores[j])
  j=j+1

70
80
90
100

## **L6 - Question 9 - Creating a List and Reading the Items of the List using a WHILE loop**

Create a List with the Numbers 1,3,5,7,9 and read and output the items using a WHILE loop

In [ ]:
#Insert Code

## **L6 - Examples 10A - Creating a List of Consecutive Numbers using List Comprehension**
Using range() to make a list of numbers

In [ ]:
# Example 10A
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

## **L6 - Example 10B - Creating a List of Even Numbers using List Comprehension**

In [ ]:
# Example 10B
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

## **L6 - Question 10 - Create a List of Odd Numbers Using List Comprehension**
Make a list of odd numbers from 1 to 20 (Hint: Use the keyword 'range')

In [ ]:
#Insert Code

## **L6 - Example 11 - Creating a List of Square Numbers using a FOR loop**
Creating a List

In [ ]:
# Example 11
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## **L6 - Question 11A - Create a List of Multiples of 3 using a FOR Loop**
Make a List of Multiples of 3  from 3 to 30 (i.e 3,6,9,12,15,18,21,24,27,30). And then use a FOR loop to print the numbers in the list

In [ ]:
#Insert Code

## **L6 - Question 11B - Create a List of the 1st 10 Cubed Numbers using a FOR loop**
Make a List of the 1st 10 Cubed Numbers

In [ ]:
#Insert Code

## **L6 - Example 12 - Using inbuilt functions relating to statistics on Lists (Minimum, Maximum and Sum)**
Simple Statistics with a List of Numbers with built-in Functions of Python

In [ ]:
# Example 12
digits = [1,2,3,4,5,6,7,8,9,0]
print("Minumum ", min(digits))
print("Maximum ", max(digits))
print("Sum ",sum(digits))

Minumum  0
Maximum  9
Sum  45

## **L6 - Question 12 - Creating a List of Numbers from 1 to a Millon and then Summing the Numbers**
Make a List of Numbers 1 to million.  Then use the sum() function to output the sum of the numbers.
<br><br>Refer to Examples 12 and 13 above for help.

In [ ]:
# Put code here

## **L6 - Example 13 - Linear Search Program to Determine if an Item is Within a List**

The Program below uses what is known as a Linear Search Algorithm to determine whether an item is within a particular list.
<br><br> Run it and then study the program and output
<br><br> Then you will probably to need to approach your teacher to ask for a proper explanation of how the program is working
<br><br>An explanation of the mechanism of the Linear Search can be found in the 1st 7 minutes of the following YouTube video
https://youtu.be/dveRhfihkX0

In [ ]:
#Example 13
def Linear_Search(alist,itemSought):
  for j in range(len(alist)):
    if alist[j] == itemSought:
      return j
  return -1



a = [1,6,4,8,9,10,12,17,2]
key = int(input("Enter key "))

j = Linear_Search(a,key)
if j == -1:
  print("Key not in list")
else:
  print(a[j], "is at index ",j)

Enter key 10
10 is at index  5

## **L6 - Question 13 - Creating a List and Applying a Linear Search Algorithm to determine if an Item is in a List**
Create a List of the Numbers 77,22,23,35,46. Then write some code to identify if the number 77 is in the list.

In [ ]:
# Put Code Here

## **L6 - Example 14 - Reversing a List**

In [ ]:
#Example 14
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

## **L6 - Question 14 - Writing Program to Reverse a given List**
Write a Function to reverse the order of a given list of numbers 77,22,23,35,46

In [ ]:
# Put Code Here

## **L6 - Example 15 - Creating a Random List of 3 Numbers. All Numbers are between 1 and 10**

In [ ]:
#Example 15
import random
randomlist = []
for i in range(0,3):
  n = random.randint(1,10)
  randomlist.append(n)
print(randomlist)

[6, 3, 2]

## **L6 - Question 15 - Create a Random List of 5 Lottery Numbers**
Write a Function to Create a Random List of 5 Lottery Numbers. All of the numbers should be between 1 and 100.

In [ ]:
# Put Code Here